.list-filter-container {
  background: #33363a;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  width: 30rem;
  height: 3rem;
  position: absolute;
  margin: $xl-size auto 0 18rem;
  padding: 1.5rem;
  align-items: center;
}

.search-bar {
  //margin: auto;
  background: white;
  outline: 1px solid black;
  height: $m-size;
  width: 18rem;
}

// .search-button{
//     margin-top: $s-size;
//     height: $lm-size;
// }

//  .search-flex{
//     display: flex;
//     justify-content: space-around;
//     //margin: auto;
//  }

.search-pulldown {
  //margin: auto;
  border: 1px solid black;
  height: $lm-size;
}
